/****Navigation****/
/*Fixed, full size navbar*/
#menu{
  cursor: pointer;
}
.sidenav{
  height: 100%;
  width:0;
  position: fixed;
  z-index: 1;
  top:29%;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}
/*Style the sidenav links and the dropdown button*/
.sidenav .a, .dropdown-btn{
  padding: 6px 8px 8px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
/*Highlight when mouse hovers*/
.sidenav a:hover, .dropdown-btn:hover{
  color: #f1f1f1;
}

/*Dropdown container is hidden by default, has a lighter background
and left padding so content appears indented from he parent menu item*/
.dropdown-container{
  display: none;
  background-color: #262626;
  padding-left: 10px;
  transition: 0.3s;
}
.fa-caret-down{
  float: right;
  padding-right: 8px;
}
.sidenav .closebtn{
  position: absolute;
  top:0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/********Navigation - End********/
/************Imported Fonts*******/
@font-face {
  font-family: MetalMacabre;
  src: url(../MetalMacabre.ttf);
}

body{
  font-family: Verdana, sans-serif;
  margin: 0;
}
*{
  box-sizing: border-box;
}
#main h1{
  margin-left:45%;
}
.jumbotron, .jumbotron h1{
  font-family: MetalMacabre;
}
.isdisabled{
  cursor: not-allowed;
}
@media screen and (max-width: 650px){
  .column{
    width:100%;
    display: block;
  }
}
.row > .col-md-3{
  padding: 0 8px;
}
.row:after{
  content: "";
  display: table;
  clear: both;
}
.col-md-3{
  float: left;
  width: 25%;
}
.col-md-3 h6{
  font-family: 'Permanent Marker', cursive;
  font-size: 22px;
  text-align: center;
}
.col-md-3 img{
  border-radius: 10px;
}
#main h1{
  font-family: 'Permanent Marker', cursive;
  font-weight: bold;
}
video{
  width:100%;
  height:100%;
}
.modal{
  display: none;
  /*position: fixed;*/
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.modal-content{
  /*position: relative;*/
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}
.close{
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover, .close:focus{
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6{
  display: none;
}
.cursor{
  cursor: pointer;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0,0,0,0.8);
}
.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
img{
  margin-bottom: 15px;
  margin-left: 15px;
  width: 90%;
  height: 230px;
}
.caption-container{
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
.demo{
  opacity: 0.6;
}
.active, .demo:hover{
  opacity: 1;
}
img.hover-shadow{
  transition: 0.3s;
}
.hover-shadow:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.7);
}
